html{
    cursor: url("img/cursor.png"), auto;
    background-color: #181818;
}
.home {
    display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 115px 15fr 0.5fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  .header,
  .homeImage,
  .homeIntro,
  .menuDiv,
  .footer,
  .listOfWorks,
  .composerHeader,
  .biography,
  .composerFooter,
  .composerName,
  figcaption{
      background-color: #282828;
      color: whitesmoke;
      font-family: sans-serif;
  }
  
  .header {
        grid-column-start: 1;
    grid-column-end: 3;
        grid-row-start: 1;
  }

h3{
      font-size: x-large;
      font-family: sans-serif;
      text-align: left; 
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
  }

  .menuDiv{
        grid-column-start: 1;
    grid-column-end: 3;
        grid-row-start: 1;
  }

  @media screen and (max-width: 60em){
    .homeImage {
          grid-row-start: 2;
          grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  
  @media screen and (max-width: 60em) {
    .homeIntro {
          grid-row-start: 2;
          grid-column-start: 1;
      grid-column-end: 1;

    }
  }
  
  .footer {
        grid-column-start: 1;
    grid-column-end: 3;
        grid-row-start: 3;
  }
  
  .menuDiv ul,
  .composerMenuDiv ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
}
  .menu button,
  .composerMenuDiv button{
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #181818;
      font-size: large;
      color: whitesmoke;
      cursor: url("img/cursor.png"), pointer;
      width: 200px;
  }

  .homeImage{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }

  .homeImage img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.composer {
    display: grid;
        grid-template-columns: 1.5fr 3fr 1fr;
        grid-template-rows: 115px 1fr 15fr 14fr 0.5fr;
    grid-gap: 20px;
    height: 100vh;
}
.composerHeader{
        grid-column-start: 1;
    grid-column-end: 4;
        grid-row-start: 1;
  }

  .listOfWorks{
        grid-column-start: 1;
    grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
}

.biography{
        grid-column-start: 2;
    grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    overflow: scroll;
}

.composerImage {
        grid-column-start: 3;
    grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
}

.composerFooter{
        grid-column-start: 1;
    grid-column-end: 4;
        grid-row-start: 5;
}

.composerName {
        grid-column-start: 2;
    grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
}

.biography p,
.homeIntro p {
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.listOfWorks{
    overflow: scroll;
}

.listOfWorks li{
   padding: 15px;
}
  
figcaption{
    text-align: center;
}

.footer h6,
.composerFooter h6{
    padding-left: 10px;
}